@model IEnumerable<CommunityAllViewModel>

@{
    ViewBag.Title = "Communities";
}

<h2>Communities</h2>

<form asp-controller="Community" asp-action="All" method="get">
    <div class="form-group mb-2 text-center">
        <input type="text" name="queryStr" class="form-control" placeholder="Search communities" />
        <button type="submit" class="btn btn-primary mt-2 mb-3">Search</button>
    </div>
</form>

<div class="container">
    @if (Model.Count() > 0)
    {
        <div class="row">
            @foreach (var community in Model)
            {
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@community.Name</h5>
                            <a asp-controller="Community" asp-action="Details" asp-route-id="@community.Id">
                                <img class="card-img-top" src="@community.ImageUrl" alt="Community image" />
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No communities found.</p>
    }
</div>