@model CommunityFormViewModel

@{
    ViewBag.Title = "Edit Community";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form asp-area="" asp-controller="Community" asp-action="Edit" method="post" class="mt-4">
    <partial name="_CommunityFormPartial" model="@Model" />
    <input type="hidden" asp-for="Id"/>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}