@model IEnumerable<DeveloperAllViewModel>

@{
    ViewBag.Title = "Game Library";
}

<h2>Game Library</h2>

<div class="container">
    @if (Model.Count() > 0)
    {
        <div class="row">
            @foreach (var developer in Model)
            {
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="@developer.ImageUrl" alt="Game image">
                        <div class="card-body">
                            <h5 class="card-title">@developer.Name</h5>
                            <a asp-controller="Developer" asp-action="Details" asp-route-id="@developer.Id">
                                <img class="card-img-top" src="@developer.ImageUrl" alt="Dev image" />
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No games available in the library.</p>
    }
</div>