@model PostFormViewModel

@{
    ViewBag.Title = "Create Post";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form asp-area="" asp-controller="Post" asp-action="Create" method="post" class="mt-4">
    <partial name="_PostFormPartial" model="@Model" />
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}